* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table-resposive {
    max-width: 100%;
    overflow-x: auto;
}

.user-img {
    width: 50px;
    border-radius: 100%;
}

/* .top {
    background-color: red;
}

.user {
    background-color: green;
}

.a {
    background-color: aqua;
}

ul {
    background-color: green;
} */

.custom-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #12171e;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}

.custom-sidebar.active~.main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.custom-sidebar.active {
    width: 250px;
}

.custom-sidebar #btn {
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.custom-sidebar.active #btn {
    left: 90%;
}

.custom-sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.custom-sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    height: 50px;
}

.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.custom-sidebar.user p {
    opacity: 0;
}

.bold {
    font-weight: 600;
}

.custom-sidebar p {
    opacity: 0;
}

.custom-sidebar.active p {
    opacity: 1;
}

.custom-sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 40px;
    width: 90%;
    margin: 0rem;
    line-height: 40px;
}

.custom-sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.custom-sidebar ul li a:hover {
    background-color: #fff;
    color: #12171e;
}

.custom-sidebar ul li a i {
    min-width: 40px;
    /* text-align: center; */
    margin-left: 15px;
    height: 40px;
    border-radius: 12px;
    line-height: 40px;
}

.custom-sidebar ul li a span {
    display: none;
}

.custom-sidebar.active ul li a span {
    display: block;
}

.custom-sidebar .nav-item {
    opacity: 0;
}

.custom-sidebar.active .nav-item {
    opacity: 1;
}

.toolhint {
    display: none;
}

.toolhintshow {
    position: absolute;
    margin-left: 12px;
    background-color: #12171e;
    color: #fff;
    /* background-color: #12171e; */
    top: 50%;
    left: 125px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
}

.custom-sidebar ul li:hover .toolhint {
    opacity: 1;
}

.custom-sidebar.active ul li .toolhint {
    display: none;
}

.custom-sidebar.active ul li:hover .toolhint {
    display: none;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    /* padding: 1rem 1.5rem; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0px;
    width: 100%;
    top: 0;
    z-index: -100;
    transition: left 300ms;
}

header p {
    margin: 10px 0px 10px 90px;
    color: #222;
    font-size: 20px;
    font-weight: bold;
}

header.active-navbar p {
    margin: 10px 0px 10px 260px;
    color: #222;
    font-size: 20px;
    font-weight: bold;
}

.user-wrapper {
    display: flex;
    align-items: center;
    background-color: aqua;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
    object-fit: cover;
}

.user-wrapper p {
    margin-right: 10px;
    font-size: 1rem;
    margin-bottom: 0rem !important;
}

.user-wrapper small {
    display: inline-block;
    margin-right: 900px;
    color: #8390A2;
}

.line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    color: #fff;
}

/* .main-content {
    position: relative;
    background-color: #eee;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
} */

main {
    margin-left: 80px;
    margin-top: 50px;
    min-width: 100vh;
}

main.active-main {
    margin-left: 250px;
}

.container {
    display: flex;
    justify-content: space-between;
}

/* ----  Responsiveness   ----  */
@media (max-width: 780px) {
    #card {
        width: 290px;
    }

    #edit {
        margin-bottom: 5px;
    }
}

.dropdown-custom button {
    border: none;
    color: #fff;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
    width: 100%;
    background-color: #198754;
    border-radius: 5px;
}

.dropdown-custom .active-custom {
    background-color: #479F76;
}

.dropdown-custom .active-custom ul {
    display: block;
}

.dropdown-custom button:hover {
    background-color: #479F76;
}

.button-icon {
    margin-right: 9px;
}

.dropdown-custom ul {
    display: none;
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 0px;
    margin-top: 3px;
}

.dropdown-custom ul li a {
    font-size: 12px;
}

.dropdown-active-custom ul {
    display: block;
}

/* .dropdown-custom:hover ul {
    display: block;
} */

.down {
    margin-left: 140px;
}

.user-custom {
    height: 60px;
}

.hr-custom {
    margin-bottom: 3px;
}

.logout {
    margin-left: 70px;
    margin-top: 10px;
    background-color: #12171e;
}